html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    min-height: 100vh;
    background-color: #674baf;
    background-image: url(./images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    padding: 2em 0em 3em 0em;
}

header img {
    width: 120px;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 2em;
}

#main {
    display: flex;
    align-items: center;
    flex: 1;
}

.ilustration img {
    max-width: 100%;
}

.content {
    text-align: center;
    margin-top: 3em;
    position: relative;
}

.content h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 23px;
    line-height: 30px;
    color: #fff;
}

.content p {
    color: #fff;
    font-size: 14px;
    line-height: 25px;
    padding: 0 1.5em;
    margin-bottom: 2em;
}

.button {
    border: none;
    background: #fff;
    padding: 0.8em 5em;
    border-radius: 20px;
    color: #674baf;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5em;
    padding-bottom: 3em;
}

.social-media a {
    width: 35px;
    height: 35px;
    margin: 0 0.3em;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media img {
    width: 18px;
    height: 18px;
}

@media only screen and (min-width: 991px) {
    header {
        width: 100%;
        padding: 3em 0em 1.5em 0em;
    }

    header img {
        width: 200px;
    }

    .content {
        text-align: left;
        margin-top: 1.5em;
    }

    .content h1 {
        font-size: 30px;
        line-height: 40px;
    }

    .content p {
        padding: 0;
        margin-bottom: 2em;
    }

    .content-ilustration {
        display: flex;
    }

    .ilustration {
        flex-shrink: 0;
        margin-right: 2em;
    }

    .ilustration img {
        width: 500px;
    }
}

@media only screen and (min-width: 991px) {
    .container {
        width: 1250px;
    }

    .social-media {
        justify-content: flex-end;
    }
}

@media only screen and (min-width: 1100px) {
    .ilustration img {
        width: 550px;
    }

    .content h1 {
        font-size: 35px;
        line-height: 45px;
    }

    .content p {
        font-size: 15px;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        width: 1400px;
    }

    .ilustration img {
        width: 600px;
    }

    .ilustration {
        margin-right: 5em;
    }

    .content h1 {
        font-size: 35px;
        line-height: 45px;
    }

    .content p {
        font-size: 15px;
    }
}

@media only screen and (min-width: 1400px) {
    .ilustration img {
        width: 800px;
    }

    .ilustration {
        margin-right: 5em;
    }

    .content h1 {
        font-size: 35px;
        line-height: 45px;
    }

    .content p {
        font-size: 15px;
    }

    .social-media {
        padding: 0;
        position: absolute;
        right: 0;
        bottom: 0;
    }
}
